---
// src/components/Footer.astro
---

<footer>
  <div class="footer-links">
    <a href="/mindgrow">MindGrow</a>
    <a href="/contacto">Contacto</a>
    <a href="mailto:contacto@omnia360.cl">contacto@omnia360.cl</a>
  </div>
  <p>&copy; 2025 Omnia360 SpA. Todos los derechos reservados.</p>
</footer>
